.messages-list-wrapper {
	flex: 1;
	max-height: 100%;
	overflow: hidden;
}

.messages-list-container {
	overflow-x: auto;
	height: 100%;
}

.messages-list-container .message-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 8px 12px;
	color: #ffffff;
}

.messages-list-container .message-item p {
	font-weight: 500;
	margin: 0;
	margin-right: 6px;
}

.messages-list-container .message-item span {
	font-weight: 300;
}
